<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="DictionaryEntities" connectionString="metadata=res://*/src.persistencia.DictionaryModel.csdl|res://*/src.persistencia.DictionaryModel.ssdl|res://*/src.persistencia.DictionaryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ONGBAK\SQLONGBAK;initial catalog=Dictionary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DictionaryEntities1" connectionString="metadata=res://*/src.persistencia.DCCNR_AJAXModel.csdl|res://*/src.persistencia.DCCNR_AJAXModel.ssdl|res://*/src.persistencia.DCCNR_AJAXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDFPCGM8F\SQLSERVER;initial catalog=Dictionary;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DictionaryEntities2" connectionString="metadata=res://*/src.persistencia.DCCNR_AJAXModel.csdl|res://*/src.persistencia.DCCNR_AJAXModel.ssdl|res://*/src.persistencia.DCCNR_AJAXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDFPCGM8F\SQLSERVER;initial catalog=Dictionary;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DictionaryEntities3" connectionString="metadata=res://*/src.persistencia.DCCNR_AJAX.csdl|res://*/src.persistencia.DCCNR_AJAX.ssdl|res://*/src.persistencia.DCCNR_AJAX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BOGDFPCGM8F\SQLSERVER;initial catalog=Dictionary;user id=SA;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DictionaryEntities4" connectionString="metadata=res://*/src.persistencia.caja.csdl|res://*/src.persistencia.caja.ssdl|res://*/src.persistencia.caja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMERSON-PC\SQLEXPRESS;initial catalog=Dictionary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="buenas" connectionString="metadata=res://*/src.persistencia.Model1.csdl|res://*/src.persistencia.Model1.ssdl|res://*/src.persistencia.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMERSON-PC\SQLEXPRESS;initial catalog=Dictionary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DictionaryEntities5" connectionString="metadata=res://*/src.persistencia.DCCNR_AJAXModel.csdl|res://*/src.persistencia.DCCNR_AJAXModel.ssdl|res://*/src.persistencia.DCCNR_AJAXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ONGBAK\SQLONGBAK;initial catalog=Dictionary;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DCCNREntities" connectionString="metadata=res://*/src.persistencia.DCCNR_AJAXModel.csdl|res://*/src.persistencia.DCCNR_AJAXModel.ssdl|res://*/src.persistencia.DCCNR_AJAXModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ONGBAK\SQLONGBAK;initial catalog=DCCNR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>